.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex:1;
    padding:20vh;
}

.a-title {
    text-decoration: underline;
    text-decoration-color: purple;
}
.a-right {
    flex:2;
    padding:20vh;
}

.a-card {
    width:120%;
    height:100%;
    border-radius: 30;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-skills {
    margin-top:5vh;
}